/* Variables */
/* font*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }

/* body */
body {
  background: url("../img/bg.png");
  color: white;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; }

/* logo */
.logo {
  height: 150px;
  width: 150px;
  margin-top: 20px; }

/* nav */
nav {
  /* Base link styling */ }
  nav li {
    float: left;
    list-style: none;
    margin: 0 10px 0 10px; }
  nav a:link,
  nav a:visited {
    color: #fff;
    padding: 10px 10px 10px 40px;
    text-decoration: none;
    text-transform: uppercase; }
  nav a:hover,
  nav a:active {
    color: #e44d26; }

/*  blockquote */
blockquote {
  color: #e44d26;
  font-size: 2em;
  font-style: italic;
  letter-spacing: 1px;
  text-align: center; }

/*  sprite map */
/* on hover show home.png */
#home a:hover {
  background: url("../img/icons/html5-sprite-map.png") no-repeat left center;
  background-position: 0px 3px; }

/* on hover show home.png */
#super a:hover {
  background: url("../img/icons/html5-sprite-map.png") no-repeat left center;
  background-position: 0px -32px; }

/* on hover show home.png */
#html5 a:hover {
  background: url("../img/icons/html5-sprite-map.png") no-repeat left center;
  background-position: 0px -64px; }

/*  image border */
article img {
  border: 10px solid white; }

/* h3 */
h3 {
  font-family: 'Open Sans', sans-serif; }

img + p {
  line-height: 24px;
  text-indent: 32px; }

/* =========
Footer
* arial font for paragraphs
========= */
footer p {
  font: 10px/16px 'arial', sans-serif; }
